.project{
    display: flex;
    margin: 16px;
    border-radius: 2px;
    border-color: gainsboro;
    border-style: solid;
    border-width: 1px;
}

.project-media{
    height: 300px;
    aspect-ratio: 16/9;
    margin: 16px;
    object-fit: contain;
}

.project-image{
    max-height: 300px;
    margin: 16px;
    aspect-ratio: 16/9;
}

.project-blurb{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 16px;
    font-size: 18px;
}