.header{
    overflow: hidden;
    background-color: #9ecaa0;
    color:rgb(255, 255, 255);
    padding: 20px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    display: flex;
}

.title-block:hover{
    cursor: pointer;
}

.nav-bar{
    display:flex;
    justify-content: right;
    margin-left: auto;
    align-items: space-evenly;
}

.nav-button{
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.nav-button:hover{
    cursor: pointer;
}

.intro-section{
    display: flex;
    padding: 16px;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.intro-blurb{
    display: flex;
    flex-direction: column;
}

.contact-links{
    background-color: gainsboro;
    margin: 8px;
    padding: 8px;
    display: flex;
}

.contact-link {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    color: blue;
    margin-right: 24px;
}
.contact-button {
    width: 20px;
    border-radius: 2px;
}

@media (max-width: 800px) {
    .intro-section {
      flex-direction: column;
    }
  }