p {
    font-size: 18px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    overflow: hidden;
    background-color: #9ecaa0;
    color:rgb(255, 255, 255);
    margin: 8px;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    display: flex;
}

.title-block:hover{
    cursor: pointer;
}

.nav-bar{
    display:flex;
    justify-content: right;
    margin-left: auto;
    align-items: space-evenly;
}

.nav-button{
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.nav-button:hover{
    cursor: pointer;
}

.boundary-box {
    max-width: 100%;
}

.blurb{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 16px;
    font-size: 18px;
}

.intro-section{
    display: flex;
    padding: 16px;
    align-items: center;
}

.intro-box{
    display: flex;
    flex-direction: column;
}

.contact-links{
    background-color: gainsboro;
    margin: 8px;
    padding: 8px;
    display: flex;
    align-items: baseline;
}

.contact-link {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    color: blue;
    margin-right: 24px;
    display: flex;
}
.contact-button {
    width: 20px;
    border-radius: 2px;
    margin-right: 2px;
}

@media (max-width: 800px) {
    .intro-section {
      flex-direction: column;
    }

    .project {
        flex-direction: column;
    }

    .contact-links {
        flex-direction: column;
        align-items: center;
        gap: 10px
        
    }
}

.project{
    display: flex;
    border-radius: 2px;
    border-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}


.project-media{
    height: 250px;
    aspect-ratio: 16/9;
    margin: 16px;
}